@font-face {
  font-family: "CustomFont";
  src: url("../assets/fonts/gigamsxvilinusx_regular-44950427376.woff2")
      format("woff2"),
    url("../assets/fonts/gigamsxvilinusx_regular-44950427376.woff")
      format("woff"),
    url("../assets/fonts/gigamsxvilinusx_regular-44950427376.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CustomFont 1";
  src: url("../assets/fonts/futura-book-mta-87427712910.ttf") format("woff2"),
    url("../assets/fonts/futura-book-mta-87427712910.ttf") format("woff"),
    url("../assets/fonts/futura-book-mta-87427712910.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-content-width: 800px; /* Set your desired width */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 9, 34);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-blend-mode: color-dodge;
  background-color: #333;
  max-width: 1800px;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: sticky;
  height: 120px;
  width: auto;
}

.main-content {
  margin-top: 70px; /* Push content down so it doesn't go under the fixed header */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  font-family: "CustomFont 1", sans-serif;
  width: 100%;
  max-width: (--main-content-width);
  padding: 0 20px;
  gap: 20px;
}

.left-section {
  padding: 30px;
  flex: 1;
  max-width: 600px;
  color: aliceblue;
  height: auto;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0.9);
  animation: fadeInScale 1s ease-out forwards;
  font-size: 30px;
  background-color: #333;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.left-title {
  font-size: 60px;
  text-align: left;
}

.right-section {
  flex: 1;
  max-width: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
}

.right-section img {
  max-height: 400px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 69%;
}

.info {
  background-color: #333;
  border-radius: 10px;
  max-width: 400px;
  max-height: 300px;
  padding: 20px;
  margin-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: center;
  float: left;
}

.info h1,
p {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: "CustomFont 1", sans-serif;
}

.info p {
  font-size: 20px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left-section,
  .right-section {
    max-width: 80%;
    max-height: 80%;
  }

  .left-title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .header {
    justify-content: center; /* Center items on smaller screens */
  }

  .logo {
    margin-right: 0; /* Remove margin on smaller screens */
  }

  .nav {
    justify-content: center; /* Center navigation items on smaller screens */
  }

  .main-content {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .info-container {
    flex-direction: column;
    gap: 1px;
    margin-left: 300px;
  }

  .info {
    width: 100%;
    max-width: 350px;
    max-height: 100px;
    align-items: center;
  }

  .info h1 {
    font-size: 20px;
  }

  .info p{
    font-size: 16px;
  }

  .left-section,
  .right-section {
    max-width: 100%;
  }

  .right-section {
    margin-right: 373px;
  }

  .left-title {
    font-size: 24px;
  }
}

:root {
  --shiny-cta-bg: #000000;
  --shiny-cta-bg-subtle: #1a1818;
  --shiny-cta-fg: #ffffff;
  --shiny-cta-highlight: blue;
  --shiny-cta-highlight-subtle: #8484ff;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-angle-offset {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-percent {
  syntax: "<percentage>";
  initial-value: 5%;
  inherits: false;
}

@property --gradient-shine {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

.shiny-cta {
  --animation: gradient-angle linear infinite;
  --duration: 3s;
  --shadow-size: 2px;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline-offset: 4px;
  padding: 1.25rem 2.5rem;
  font-family: "CustomFont 1", sans-serif;

  font-size: 1.125rem;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 360px;
  color: var(--shiny-cta-fg);
  background: linear-gradient(var(--shiny-cta-bg), var(--shiny-cta-bg))
      padding-box,
    conic-gradient(
        from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
        transparent,
        var(--shiny-cta-highlight) var(--gradient-percent),
        var(--gradient-shine) calc(var(--gradient-percent) * 2),
        var(--shiny-cta-highlight) calc(var(--gradient-percent) * 3),
        transparent calc(var(--gradient-percent) * 4)
      )
      border-box;
  box-shadow: inset 0 0 0 1px var(--shiny-cta-bg-subtle);

  &::before,
  &::after,
  span::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    translate: -50% -50%;
    z-index: -1;
  }

  &:active {
    translate: 0 1px;
  }
}

/* Dots pattern */
.shiny-cta::before {
  --size: calc(100% - var(--shadow-size) * 3);
  --position: 2px;
  --space: calc(var(--position) * 2);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
      circle at var(--position) var(--position),
      white calc(var(--position) / 4),
      transparent 0
    )
    padding-box;
  background-size: var(--space) var(--space);
  background-repeat: space;
  mask-image: conic-gradient(
    from calc(var(--gradient-angle) + 45deg),
    black,
    transparent 10% 90%,
    black
  );
  border-radius: inherit;
  opacity: 0.4;
  z-index: -1;
}

/* Inner shimmer */
.shiny-cta::after {
  --animation: shimmer linear infinite;
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(
    -50deg,
    transparent,
    var(--shiny-cta-highlight),
    transparent
  );
  mask-image: radial-gradient(circle at bottom, transparent 40%, black);
  opacity: 0.6;
}

.shiny-cta span {
  z-index: 1;

  &::before {
    --size: calc(100% + 1rem);
    width: var(--size);
    height: var(--size);
    box-shadow: inset 0 -1ex 2rem 4px var(--shiny-cta-highlight);
    opacity: 0;
  }
}

/* Animate */
.shiny-cta {
  --transition: 800ms cubic-bezier(0.25, 1, 0.5, 1);
  transition: var(--transition);
  transition-property: --gradient-angle-offset, --gradient-percent,
    --gradient-shine;

  &,
  &::before,
  &::after {
    animation: var(--animation) var(--duration),
      var(--animation) calc(var(--duration) / 0.4) reverse paused;
    animation-composition: add;
  }

  span::before {
    transition: opacity var(--transition);
    animation: calc(var(--duration) * 1.5) breathe linear infinite;
  }
}

.shiny-cta:is(:hover, :focus-visible) {
  --gradient-percent: 20%;
  --gradient-angle-offset: 95deg;
  --gradient-shine: var(--shiny-cta-highlight-subtle);

  &,
  &::before,
  &::after {
    animation-play-state: running;
  }

  span::before {
    opacity: 1;
  }
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 360deg;
  }
}

@keyframes shimmer {
  to {
    rotate: 360deg;
  }
}

@keyframes breathe {
  from,
  to {
    scale: 1;
  }

  50% {
    scale: 1.2;
  }
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
